.show-lg,
.show-md,
.show-sm {
	display: none !important;
}

@media only screen and (max-width: 992px) {
	.hide-lg {
		display: none !important;
	}
	.show-lg {
		display: inline-flex !important;
	}
}
@media only screen and (max-width: 768px) {
	.hide-md {
		display: none !important;
	}
	.show-md {
		display: inline-flex !important;
	}
}
@media only screen and (max-width: 576px) {
	.hide-sm {
		display: none !important;
	}
	.show-sm {
		display: inline-flex !important;
	}
}
.position-relative {
	z-index: 1;
}

.position-absolute[style] {
	z-index: 2;
}

.sticky-top {
	top: 1.5rem;
}

.top-0 {
	top: 0;
	bottom: auto;
}

.layer-1 {
	z-index: 1;
}

.layer-2 {
	z-index: 2;
}

.layer-3 {
	z-index: 3;
}

.layer-4 {
	z-index: 4;
}

[class*='layer-'] {
	position: relative;
}

.blend-mode-multiply {
	mix-blend-mode: multiply;
}

.flip-x {
	transform: scaleX(-1);
}

.flip-y {
	transform: scaleY(-1);
}

.rotate-left {
	transform: rotateZ(-1deg);
}

.rotate-left.mobile-screenshot {
	transform: rotateZ(-5deg);
}

.rotate-right {
	transform: rotateZ(1deg);
}

.opacity-0 {
	opacity: 0;
}

.opacity-10 {
	opacity: 0.1;
}

.opacity-20 {
	opacity: 0.2;
}

.opacity-30 {
	opacity: 0.3;
}

.opacity-40 {
	opacity: 0.4;
}

.opacity-50 {
	opacity: 0.5;
}

.opacity-60 {
	opacity: 0.6;
}

.opacity-70 {
	opacity: 0.7;
}

.opacity-80 {
	opacity: 0.8;
}

.opacity-90 {
	opacity: 0.9;
}

section {
	padding: 6rem 0;
}

.h-0 {
	height: 0;
}

.min-vh-10 {
	min-height: 10vh;
}

.min-vh-20 {
	min-height: 20vh;
}

.min-vh-30 {
	min-height: 30vh;
}

.min-vh-40 {
	min-height: 40vh;
}

.min-vh-50 {
	min-height: 50vh;
}

.min-vh-60 {
	min-height: 60vh;
}

.min-vh-70 {
	min-height: 70vh;
}

.min-vh-80 {
	min-height: 80vh;
}

.min-vh-90 {
	min-height: 90vh;
}

.min-vh-100 {
	min-height: 100vh;
}

@media (min-width: 768px) {
	.min-vh-md-10 {
		min-height: 10vh;
	}

	.min-vh-md-20 {
		min-height: 20vh;
	}

	.min-vh-md-30 {
		min-height: 30vh;
	}

	.min-vh-md-40 {
		min-height: 40vh;
	}

	.min-vh-md-50 {
		min-height: 50vh;
	}

	.min-vh-md-60 {
		min-height: 60vh;
	}

	.min-vh-md-70 {
		min-height: 70vh;
	}

	.min-vh-md-80 {
		min-height: 80vh;
	}

	.min-vh-md-90 {
		min-height: 90vh;
	}

	.min-vh-md-100 {
		min-height: 100vh;
	}
}

@media (min-width: 992px) {
	.min-vh-lg-10 {
		min-height: 10vh;
	}

	.min-vh-lg-20 {
		min-height: 20vh;
	}

	.min-vh-lg-30 {
		min-height: 30vh;
	}

	.min-vh-lg-40 {
		min-height: 40vh;
	}

	.min-vh-lg-50 {
		min-height: 50vh;
	}

	.min-vh-lg-60 {
		min-height: 60vh;
	}

	.min-vh-lg-70 {
		min-height: 70vh;
	}

	.min-vh-lg-80 {
		min-height: 80vh;
	}

	.min-vh-lg-90 {
		min-height: 90vh;
	}

	.min-vh-lg-100 {
		min-height: 100vh;
	}
}

.min-vw-10 {
	min-width: 10vw;
}

.min-vw-20 {
	min-width: 20vw;
}

.min-vw-30 {
	min-width: 30vw;
}

.min-vw-40 {
	min-width: 40vw;
}

.min-vw-50 {
	min-width: 50vw;
}

.min-vw-60 {
	min-width: 60vw;
}

.min-vw-70 {
	min-width: 70vw;
}

.min-vw-80 {
	min-width: 80vw;
}

.min-vw-90 {
	min-width: 90vw;
}

.min-vw-100 {
	min-width: 100vw;
}
