/* Navbar */
.navbar-brand .avatar {
	width: 60%;
}

.navbar-nav .dropdown ul li:hover {
	background-color: #fbfcfd !important;
}

.navbar-nav li a,
.dropdown-menu li a {
	align-items: center;
}

@media all and (min-width: 768px) {
	.navbar .dropdown-menu {
		left: 0; /* position submenu card */
		right: auto;
	}
	.navbar .nav-item .dropdown-menu {
		display: block;
		opacity: 0;
		visibility: hidden;
		transition: 0.3s;
		margin-top: 0;
	}
	.navbar .nav-item:hover .nav-link {
		color: var(--light);
	}
	.navbar .dropdown-menu.fade-down {
		top: 80%;
		transform: rotateX(-75deg);
		transform-origin: 0% 0%;
	}
	.navbar .dropdown-menu.fade-up {
		top: 180%;
	}
	.navbar .nav-item:hover .dropdown-menu {
		transition: 0.3s;
		opacity: 1;
		visibility: visible;
		top: 100%;
		transform: rotateX(0deg);
	}
	.dropdown-menu li {
		position: relative;
	}
	.nav-item .submenu {
		display: none;
		position: absolute;
		left: 100%;
		top: -7px;
	}
	.nav-item .submenu-left {
		right: 100%;
		left: auto;
	}
	.dropdown-menu > li:hover {
		background-color: #f1f1f1;
	}
	.dropdown-menu > li:hover > .submenu {
		display: block;
	}
}

@media only screen and (max-width: 767.9px) {
	.navbar-light {
		background: ease-gradient(
			180deg,
			rgba(255, 220, 52, 100) 0%,
			rgba(255, 215, 23, 100) 100%
		) !important;
		background: rgb(255, 215, 23);
	}
	.navbar-light .navbar-toggler-icon {
		background: none;
	}
	a.text-secondary:hover,
	button.text-secondary:hover,
	a.text-secondary:focus,
	button.text-secondary:focus {
		color: var(--secondary-light) !important;
	}
	a.text-secondary-light:hover,
	button.text-secondary-light:hover,
	a.text-secondary-light:focus,
	button.text-secondary-light:focus {
		color: var(--neutral-dark) !important;
	}
	a.text-dark:hover,
	button.text-dark:hover,
	a.text-dark:focus,
	button.text-dark:focus {
		color: var(--secondary-light) !important;
	}
	.dropdown-menu .dropdown-menu {
		margin-left: 0.7rem;
		margin-right: 0.7rem;
		margin-bottom: 0.5rem;
	}

	a.dropdown-toggle:after {
		display: inline-flex !important;
		margin-left: 0.255em;
		content: '';
		border-top: 0.3em solid;
		border-left: 0.3em solid transparent;
		border-bottom: 0;
		border-right: 0.3em solid transparent;
	}

	a.dropdown-toggle:after {
		border-top-color: var(--secondary-light) !important;
	}
}

.navbar {
	border-bottom: 1px solid rgba(27, 31, 59, 0.08);
	width: 100%;
}

.navbar[data-overlay] {
	position: absolute;
}

.navbar[data-sticky='top'] {
	transition: all 0.2s ease;
}

.navbar[data-sticky='top'].scrolled.navbar-dark {
	background: #023047;
	border-bottom-color: transparent;
}

.navbar[data-sticky='top'].scrolled.navbar-light {
	background: #fbfcfd !important;
}

.navbar[data-overlay],
.navbar[data-sticky='top'] {
	z-index: 999;
}

.navbar[data-overlay].scrolled,
.navbar[data-sticky='top'].scrolled {
	z-index: 1030;
}

.navbar .dropdown-menu {
	z-index: 1060;
}

.navbar .nav-link {
	transition: color 0.25s ease;
}

.navbar-container {
	position: relative;
}

.navbar-light .navbar-toggler {
	color: rgba(251, 252, 253, 0.65);
	fill: #fbfcfd;
}

.navbar-dark {
	border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.navbar-dark .navbar-toggler {
	color: rgba(18, 18, 18, 0.65);
	fill: #121212;
}

.navbar-dark.navbar-toggled-show .dropdown-toggle > svg.bg-dark * {
	fill: #fbfcfd;
}

.navbar-toggler {
	border: none;
	position: relative;
}

.navbar-toggler[aria-expanded='false'] .navbar-toggler-close {
	opacity: 0;
	transform: scale(0) rotate(45deg);
}

.navbar-toggler[aria-expanded='true'] .navbar-toggler-open {
	opacity: 0;
	transform: scale(0) rotate(-45deg);
}

.navbar-toggler-close,
.navbar-toggler-open {
	transition: opacity 0.2s ease, transform 0.2s ease;
	opacity: 1;
	transform: scale(1);
}

.navbar-toggler-close {
	position: absolute;
	top: 0;
	left: 0;
}

@media (min-width: 992px) {
	.navbar {
		padding-left: 0;
		padding-right: 0;
	}

	.navbar .dropdown-menu {
		margin-top: 1rem;
	}
}

nav[data-overlay].navbar-toggled-show {
	background: #fbfcfd;
}

nav[data-overlay].navbar-toggled-show.navbar-dark {
	background: #023047;
}

nav[data-overlay].navbar-toggled-show.navbar-dark .dropdown-item {
	color: rgba(255, 255, 255, 0.5);
}

nav[data-overlay].navbar-toggled-show.navbar-dark .dropdown-item:hover {
	color: #fbfcfd;
}

@media (max-width: 991.98px) {
	.navbar-collapse {
		max-height: 100vh;
		overflow-y: scroll;
	}
}

@media (max-width: 991.98px) {
	.nav-item.dropdown .col-auto {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}
