pre {
	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto;
	-ms-overflow-style: scrollbar;
}

.article p.lead:first-child {
	margin-top: 4.5rem;
	margin-bottom: 3rem;
}

.article p + h4 {
	margin-top: 3rem;
}

.article p:not(:last-child) {
	margin-bottom: 1.5rem;
}

.article blockquote {
	margin: 3rem 0;
}

.article p + h5 {
	margin-top: 2.25rem;
}

.article ul {
	padding-left: 1.5rem;
}

.article ul > li {
	margin-bottom: 0.75rem;
}

article ol > li:not(:last-child) {
	margin-bottom: 3rem;
}

figure {
	text-align: center;
	margin: 3rem 0;
}

figcaption {
	margin-top: 0.75rem;
	font-size: 0.875rem;
	font-weight: 600;
	color: var(--light);
}

blockquote {
	position: relative;
	border-radius: 0.625rem;
	padding: 3rem;
}

blockquote .btn {
	position: absolute;
	bottom: 0.75rem;
	right: 0.75rem;
}

.comments {
	list-style: none;
	padding-left: 0;
}

.comments .comment:not(:last-child) {
	margin-bottom: 1.5rem;
}

.comments .comment .comments {
	margin-top: 1.5rem;
}

.comments .comment .comment {
	padding-left: 2.25rem;
	border-left: 4px solid var(--neutral-light);
}

.list-articles {
	margin-bottom: 0;
}

.list-articles > li:not(:last-child) {
	margin-bottom: 0.75rem;
}
