.show-lg,
.show-md,
.show-sm {
	display: none !important;
}

@media only screen and (max-width: 992px) {
	.hide-lg {
		display: none !important;
	}
	.show-lg {
		display: inline-flex !important;
	}
}
@media only screen and (max-width: 768px) {
	.hide-md {
		display: none !important;
	}
	.show-md {
		display: inline-flex !important;
	}
}
@media only screen and (max-width: 576px) {
	.hide-sm {
		display: none !important;
	}
	.show-sm {
		display: inline-flex !important;
	}
}
.position-relative {
	z-index: 1;
}

.position-absolute[style] {
	z-index: 2;
}

.sticky-top {
	top: 1.5rem;
}

.top-0 {
	top: 0;
	bottom: auto;
}

.layer-1 {
	z-index: 1;
}

.layer-2 {
	z-index: 2;
}

.layer-3 {
	z-index: 3;
}

.layer-4 {
	z-index: 4;
}

[class*='layer-'] {
	position: relative;
}

.blend-mode-multiply {
	mix-blend-mode: multiply;
}

.flip-x {
	transform: scaleX(-1);
}

.flip-y {
	transform: scaleY(-1);
}

.rotate-left {
	transform: rotateZ(-1deg);
}

.rotate-left.mobile-screenshot {
	transform: rotateZ(-5deg);
}

.rotate-right {
	transform: rotateZ(1deg);
}

.opacity-0 {
	opacity: 0;
}

.opacity-10 {
	opacity: 0.1;
}

.opacity-20 {
	opacity: 0.2;
}

.opacity-30 {
	opacity: 0.3;
}

.opacity-40 {
	opacity: 0.4;
}

.opacity-50 {
	opacity: 0.5;
}

.opacity-60 {
	opacity: 0.6;
}

.opacity-70 {
	opacity: 0.7;
}

.opacity-80 {
	opacity: 0.8;
}

.opacity-90 {
	opacity: 0.9;
}

.h-0 {
	height: 0;
}

button:focus:not(:focus-visible) {
	outline: 0;
}

input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

[role='button'] {
	cursor: pointer;
}

select {
	word-wrap: normal;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

button:not(:disabled),
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled) {
	cursor: pointer;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

input[type='radio'],
input[type='checkbox'] {
	box-sizing: border-box;
	padding: 0;
}

progress {
	vertical-align: baseline;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.list-inline {
	padding-left: 0;
	list-style: none;
}

.list-inline-item {
	display: inline-block;
}

.list-inline-item:not(:last-child) {
	margin-right: 0.5rem;
}

.initialism {
	font-size: 90%;
	text-transform: uppercase;
}

.align-baseline {
	vertical-align: baseline !important;
}

.align-top {
	vertical-align: top !important;
}

.align-middle {
	vertical-align: middle !important;
}

.align-bottom {
	vertical-align: bottom !important;
}

.align-text-bottom {
	vertical-align: text-bottom !important;
}

.align-text-top {
	vertical-align: text-top !important;
}

.clearfix::after {
	display: block;
	clear: both;
	content: '';
}
